<hr>
  <p>This is in the user_profile info</p>

<p>The result of 2 * 5 is <%= 2 * 5 %></p>

    <%= tweets = ["First tweet", "second tweet"] %>

    <% tweets.each do |tweet| %>
        <p>
          <%= tweet %>
        </p>
    <% end %>

<hr>
