<div id="main">


Our app goes here.

</div>

<script id = "appViewTemplate" type="html/template">

  <h1> flights </h1>


<ul id="flight list">
</ul>

</script>

<!--
<script id = "secretInputViewTemplate" type="html/template">

  <textarea placeholder="tell me all secrete"></textarea>
  <button>Submit</button>
</script> -->
