<input type="hidden" id="current_user" value="<%= @current_user.id%>">

<div class='row'>
    <div class='col-md-6 col-md-offset-3'>
      <div class="stepsDetailsShow reservationSquare">
            <div id="main">

              Our app goes here.

                </div>

            </div>
      </div>
    </div>


<script id="flightReserveTemplate" type="html/template">


<div>
    <h4> Flight Info</h4>
<br/>
    <table id="myFlightTable">
        <thead>
            <tr>
                <th>Date</th>
                <th>Flight</th>
                <th>From</th>
                <th>To</th>

            </tr>
        </thead>
<tbody>


</tbody>
    </table>

<hr/>
    <h4> Plane Info</h4>
<br/>
    <table id="myPlaneTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Rows</th>
                <th>Columns</th>
                <th>Seats</th>
            </tr>
        </thead>
<tbody>


</tbody>
    </table>
</div>

<hr/>


<p class='selectSeatShow'> Your seat:</p>
<p>  Available Seats: </p> <p class='available_seat'></p>



<p class='SeatBooked'> </p>
<button id="submitSeat">Book your Seat</button>

<br/>




        <div class="seatPanel"></div>


</script>

<script id="searchViewTemplate" type="html/template">

    <div>
        <input type="text" placeholder="from" id="from"/>
        <input type="text" placeholder="to" id="to"/>
    </div>
<br/>
    <div>
        <h4>Flight search results</h4>
<br/>
        <table id="myFlightTable">
            <thead>
                <tr>

                    <th>Date</th>
                    <th>Flight</th>
                    <th>From > to</th>
                    <th>Seats</th>

                </tr>
            </thead>
<tbody>


</tbody>
        </table>
    </div>

</script>
