<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Homework 2016.05.18</title>
  <!-- anything in the public folder can be access with just a slash: "/....." -->
  <!-- <link rel="stylesheet" href="/style.css"> -->
</head>
<body>

<h1>Homework 2016/05/18</h1>

<!-- Get text from the other .erb doc -->
  <%= yield %>

</body>
</html>
