<hr>

<!-- Print out the value of the instance variable result -->
<h3>Here is your @movie_name: <%=@movie_name%></h3>
<h3>Here is your @response: <%=@result%></h3>



<h3>Here is your @poster_of_first_result: <img src="<%=@poster_of_first_result%>"></h3>

<a href="/">Check an other movie?</a>

<hr>
