<form method="POST" action="/habitats">
  <p>
    <label>Landscape: </label>
    <input type="text" name="landscape">
  </p>

  <p>
    <label>Climat: </label>
    <input type="text" name="climat">
  </p>

  <input type="submit" value="Create habitat">
</form>
