<form method="POST" action="/habitats/<%= @habitat.id %>">
  <p>
    <label>Landscape: </label>
    <input type="text" name="landscape" value="<%= @habitat.landscape %>">
  </p>

  <p>
    <label>Climate: </label>
    <input type="text" name="climat" value="<%= @habitat.climat %>">
  </p>

  <input type="submit" value="Create habitat">
</form>
