<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Animals</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <h1>Our Animals App</h1>

  <nav>
    <a href="/">Home</a>
    <a href="/animals">All animals</a>
    <a href="/animals/new">Create an animal</a>

  </nav>

  <div class="container">
      <%= yield %>
  </div>


</body>
</html>
