<h3>This is ... URL</h3>


<%= link_to "Random", random_path %>

<%= link_to "Single number path", single_number_path( @single_number ) %>

<%= link_to "Two numbers path", two_numbers_path( @x, @y ) %>
