<hr>

<!-- Print out the value of the instance variable result -->
<h3>Here is your calculation: <%= @first_number%> + <%= @second_number%> = <%= @result %></h3>

<a href="/calc">Calculate something else!</a>

<hr>
