body {
  background-color: hotpink;
  color: gainsboro;
  text-align: center;
}

.trendy {
  color: black;
}

#cool {
  color: blue;
}

p:hover {
  color: white;
}

.left {
  width: 50%;
  height: 200px;
  background-color: yellow;
  display: inline-block;
}


.right {
  width: 48%;
  height: 300px;
  background-color: green;
  display: inline-block;

}
