<hr>
<h3>Welcome on our not exactly World Tour Blog:</h3>
<hr>

<%= @all_countries %>
<hr>

<div class="homeImageBox">
<a href="/countries">
  <img src="https://upload.wikimedia.org/wikipedia/commons/5/50/Flag_of_the_Union_of_South_American_Nations.svg" class="homeImage"></a>
</div>

<div class="homeImageBox">
<a href="/countries">
  <img src="https://upload.wikimedia.org/wikipedia/commons/5/50/Flag_of_the_Union_of_South_American_Nations.svg" class="homeImage"></a>
</div>

<div class="homeImageBox">
<a href="/countries">
  <img src="https://upload.wikimedia.org/wikipedia/commons/5/50/Flag_of_the_Union_of_South_American_Nations.svg" class="homeImage"></a>
</div>

<div class="homeImageBox">
<a href="/countries">
  <img src="https://upload.wikimedia.org/wikipedia/commons/5/50/Flag_of_the_Union_of_South_American_Nations.svg" class="homeImage"></a>
</div>

<div class="homeImageBox">
<a href="/countries">
  <img src="https://upload.wikimedia.org/wikipedia/commons/5/50/Flag_of_the_Union_of_South_American_Nations.svg" class="homeImage"></a>
</div>

<div class="homeImageBox">
<a href="/countries">
  <img src="https://upload.wikimedia.org/wikipedia/commons/5/50/Flag_of_the_Union_of_South_American_Nations.svg" class="homeImage"></a>
</div>
