<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>World Tour</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <h1>Our 2022 Family World Tour</h1>

  <nav>
    <a href="/">Home</a>
    <a href="/countries">All the countries</a>
    <a href="/countries/new">Add a country</a>
  </nav>

  <%= yield %>

</body>
</html>
