<h3>app/views/calc/calculate.html.erb</h3>

<p>The first number is: <%= @first_num %></p>
<p>The second number is: <%= @second_num %></p>
<p>The operator is: <%= @operator %></p>

<p>The result is: <%= @result %></p>
