
<div class='container'>
  <div class='row text-center'>
          <div class='col-md-12'>
        <h2>Create a new step:</h2>
      </div>
  </div>

  <br>

<% if @current_user %>
      <%= render :partial => 'form' %>
<% end %>

</div>
